/* Portfolio Rafael Marques
* SocialMedias: RafaelMarqueiz
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ===============
    CORES
   =============== */
:root {
--color-primary-dark: #252425;
--color-primary: #74191C;
--color-primary-light: #D5202B;
--color-text: #F3F2F0;
--color-background-darker: #111111;
--color-background-dark: #1B1B1B;
--color-background: #252525;
--color-background-light: #2F2F2F;
--color-background-lighter: #393939;

}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: #D3F6DB;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 0;
}
body {
  font-family:'Poppins', sans-serif;
}
.container {
  margin: 0 auto;
}
/* ==========
  NAVBAR
  ===========*/
nav {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}
.nav-item{
  padding: 10px;
  margin: 5px;
  transition: 0.9s;
}
.nav-item:hover {
  color: var(--color-background-darker);
}
a{
  color: var(--color-primary-light);
  text-decoration: none;
}
/* ===============
  PROFILE
  ================*/
.profile {
  background: var(--color-background-lighter);
  min-width: 300px;
  max-width: 400px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
}
.img-profile {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.profile h1,h2,h3,h4,h5,h6,p{
  text-align: center;
}
.logos {
  text-align: center;
  padding: 10px;
}
.logos a{
  color: var(--color-text)
}
.logos i{
  padding: 2px;
  transition: 0.6s;
}
.logos i:hover{
  scale: 1.5;
  margin: 0px 10px;
}
.project {
  display: flex;
  justify-content: center;
  background: var(--color-background);
}

.underline {
  position: relative;
}
.underline:after {
  content: "";
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 10px;
  right: 0;
  background: var(--color-primary-light);
  transition: width .5s ease;
}
.underline:hover:after {
  width: 100%;
  left: 0;
  background: var(--color-primary-light);
}

/* ===============
    PROJECT
   =============== */

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-background-lighter);
  margin-top: 10px;
}
.project h1 {
  display:block;
  text-align: center;
}
.project div {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px auto;
  flex: 1 1 100px;
}

.project div article{
  margin: 10px;
  max-width: 50%;
  border: 1px solid white;
  padding: 10px;
}

/* ============
    SOBRE
   ============ */

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-background-lighter);
    margin-top: 10px;
}

.sobre h1 {
  display:block;
  text-align: center;
}