/* ==========
  NAVBAR
  ===========*/
nav {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.nav-item{
  padding: 10px;
  margin: 5px;
  transition: 0.9s;
}
.nav-item:hover {
  color: var(--color-background-darker);
}
a{
  color: var(--color-primary-light);
  text-decoration: none;
}
/* ===============
  PROFILE
  ================*/
.profile {
  background: var(--color-background-lighter);
  min-width: 300px;
  max-width: 400px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
}
.img-profile {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.profile h1,h2,h3,h4,h5,h6,p{
  text-align: center;
}
.logos {
  text-align: center;
  padding: 10px;
}
.logos a{
  color: var(--color-text)
}
.logos i{
  padding: 2px;
  transition: 0.6s;
}
.logos i:hover{
  scale: 1.5;
  margin: 0px 10px;
}
.underline {
  position: relative;
}
.underline:after {
  content: "";
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 10px;
  right: 0;
  background: var(--color-primary-light);
  transition: width .5s ease;
}
.underline:hover:after {
  width: 100%;
  left: 0;
  background: var(--color-primary-light);
}

/* ===============
    PROJECT
   =============== */

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-background-lighter);
  margin-top: 10px;
}
.project h1 {
  display:block;
  text-align: center;
}
.project div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 10px auto;

}

.project div article{
  display: grid;
  place-items: center;

  margin: 10px;
  padding: 10px;
  width: 100px;
  max-width: 100px;

  border: 1px solid white;
  background: black;
}
a{
  color: white;
  transition: 0.3s;
}
a:hover {
  color: grey;
}

/* ============
    SOBRE
   ============ */

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-background-lighter);
    margin-top: 10px;
}

.sobre h1 {
  display:block;
  text-align: center;
}